.add-weight-button {
  width: 100%;
  margin-top: 40px;
  height: auto;
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 3rem;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    &:hover {
      color: $lightblue;
    }
  }
  input {
    width: 0px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    margin: auto;
    box-shadow: $default-box-shadow;
    display: block;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;
    font-size: 1.2rem;
    &:focus {
      outline: none;
    }
  }
  .invalid-input {
    text-align: center;
    color: $red;
    width: 0px;
    margin: auto;
    display: block;
    overflow: hidden;
    transition: all ease-in-out 1s;
    p {
      display: inline-block;
      width: 300px;
    }
  }
  button {
    width: 100px;
    height: 100px;
    background-color: $red;
    margin: auto;
    border-radius: 50%;
    display: block;
    border: none;
    box-shadow: $default-box-shadow;
    cursor: pointer;
    transition: all 0.15s ease-in;
    opacity: 0;
    i {
      color: white;
      font-size: 2rem;
    }
    &:hover {
      background-color: white;
      i {
        color: $red;
      }
    }
    &:active {
      outline: none;
    }
    &:visited {
      outline: none;
    }
    &:focus {
      background-color: white;
      outline: none;
      i {
        color: $red;
      }
    }
  }
}