.add-weight-button {
  width: 100%;
  margin-top: 90px;
  height: 100px;
  button {
    width: 100px;
    height: 100px;
    background-color: $red;
    margin: auto;
    border-radius: 50%;
    display: block;
    border: none;
    box-shadow: $default-box-shadow;
    cursor: pointer;
    transition: all 0.15s ease-in;
    i {
      color: white;
      font-size: 2rem;
    }
    &:hover {
      background-color: white;
      i {
        color: $red;
      }
    }
    &:active {
      outline: none;
    }
    &:visited {
      outline: none;
    }
    &:focus {
      background-color: white;
      outline: none;
      i {
        color: $red;
      }
    }
  }
}