.title-bar {
    height: 150px;
    width: 100%;
    border-bottom-left-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
    background-color: white;
    h1 {
        display: block;
        width: 100%;
        padding-top: 40px;
        text-align: center;
        font-weight: lighter;
    }
}