body {
  background-color: #e1e4eb;
}

.title-bar {
  height: 150px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}
.title-bar h1 {
  display: block;
  width: 100%;
  padding-top: 40px;
  text-align: center;
  font-weight: lighter;
}

.view-wrapper {
  background-color: #f1f2f6;
  height: auto;
  padding: 0;
  padding-bottom: 100px;
}

.weight-tile {
  background-color: white;
  height: 140px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding-top: 0.1px;
  position: relative;
}
.weight-tile h1 {
  font-size: 3rem;
  text-align: center;
  display: block;
  margin-top: 40px;
  letter-spacing: 2px;
}
.weight-tile .units {
  color: lightgrey;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  margin: 0;
  font-weight: lighter;
}

.calendar-wrapper {
  margin-top: 40px;
}
.calendar-wrapper .rc-calendar {
  width: 85%;
  height: 480px;
  margin: auto;
  display: block;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bolder;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.calendar-wrapper .rc-calendar-header {
  padding: 11px 238px;
  height: 60px;
  border: none;
}
.calendar-wrapper .rc-calendar-body {
  height: auto;
}
.calendar-wrapper .rc-calendar-my-select a {
  font-size: 25px;
  font-weight: lighter;
}
.calendar-wrapper .rc-calendar-input-wrap {
  border: none;
  height: 40px;
}
.calendar-wrapper .rc-calendar-input-wrap .rc-calendar-date-input-wrap {
  height: inherit;
}
.calendar-wrapper .rc-calendar-input-wrap .rc-calendar-date-input-wrap .rc-calendar-input {
  height: inherit;
  font-size: 25px;
  padding-left: 50px;
  background-color: transparent;
}
.calendar-wrapper .rc-calendar-input-wrap .rc-calendar-clear-btn {
  top: 10px;
  right: 71px;
  height: 30px;
}
.calendar-wrapper .rc-calendar-input-wrap .rc-calendar-clear-btn:after {
  font-size: 24px;
  height: inherit;
}
.calendar-wrapper .rc-calendar-column-header-inner {
  font-size: 21px;
}
.calendar-wrapper .rc-calendar-date {
  border-radius: 50%;
  font-size: 20px;
  height: 34px;
  width: 34px;
  line-height: 30px;
}
.calendar-wrapper .rc-calendar-table tr {
  height: 45px;
}
.calendar-wrapper .rc-calendar-footer {
  border: none;
  font-size: 30px;
  font-weight: lighter;
}
.calendar-wrapper .rc-calendar-selected-date .rc-calendar-date {
  background-color: #f9686f;
}
.calendar-wrapper .rc-calendar-selected-date .rc-calendar-date:hover {
  background: #f9686f;
}
.calendar-wrapper .rc-calendar-today-btn {
  font-weight: lighter;
  font-size: 20px;
}

.add-weight-button {
  width: 100%;
  margin-top: 20px;
  height: auto;
}
.add-weight-button h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 3rem;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}
.add-weight-button h2:hover {
  color: #3fc7fa;
}
.add-weight-button input {
  width: 0px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  margin: auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  display: block;
  margin-bottom: 20px;
  transition: all 1s ease-in-out;
  font-size: 1.2rem;
}
.add-weight-button input:focus {
  outline: none;
}
.add-weight-button .invalid-input {
  text-align: center;
  color: #f9686f;
  width: 0px;
  margin: auto;
  display: block;
  overflow: hidden;
  transition: all ease-in-out 1s;
}
.add-weight-button .invalid-input p {
  display: inline-block;
  width: 300px;
}
.add-weight-button button {
  width: 100px;
  height: 100px;
  background-color: #f9686f;
  margin: auto;
  border-radius: 50%;
  display: block;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.15s ease-in;
  opacity: 0;
}
.add-weight-button button i {
  color: white;
  font-size: 2rem;
}
.add-weight-button button:hover {
  background-color: white;
}
.add-weight-button button:hover i {
  color: #f9686f;
}
.add-weight-button button:active {
  outline: none;
}
.add-weight-button button:visited {
  outline: none;
}
.add-weight-button button:focus {
  background-color: white;
  outline: none;
}
.add-weight-button button:focus i {
  color: #f9686f;
}

.graph svg {
  margin: auto;
  margin-top: 20px;
  display: block;
  background-color: #c8c8c8;
}
.graph .svg-circles {
  cursor: pointer;
}

/*# sourceMappingURL=App.css.map */
